---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const gColor = "red";
const pageTitle = "About Me";

const identity = {
  firstname: "Varun",
	country: "Canada",
	occupation: "Designer & Technologist",
	hobbies: ["photography", "music production", "travel"]
};

const skills = ["Design: Figma", "Front End: React", "Backend: Python", "Product Strategy"]

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
<style define:vars={{gColor}}>
	h1 {
		color: var(--gColor);
		font-size: 4rem;
	}
</style>
	</head>
	<body>
		<Navigation/>
		<p>I live in {identity.country} and I work as a {identity.occupation}</p>
		{happy && <p>I am happy to be learnings astro. Created with conditional</p>}
		<Footer/>
	</body>
</html>
